
/* @import '/material-design-icons/iconfont/material-icons.css'; */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.custom-scroll {
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* For WebKit browsers */
.custom-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}